<div>
    <h2 id="page-heading">
        <span>Diagnosticos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diagnostico" [routerLink]="['/diagnostico/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Diagnostico
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="diagnosticos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Codigo Diagnostico</span></th>
            <th><span>Descripcion Diagnostico</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diagnostico of diagnosticos ;trackBy: trackId">
                <td><a [routerLink]="['/diagnostico', diagnostico.id, 'view' ]">{{diagnostico.id}}</a></td>
                <td>{{diagnostico.codigoDiagnostico}}</td>
                <td>{{diagnostico.descripcionDiagnostico}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/diagnostico', diagnostico.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/diagnostico', diagnostico.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diagnostico/'+ diagnostico.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
