<div>
    <h2 id="page-heading">
        <span>Codigos Postales</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-codigo-postal" [routerLink]="['/codigo-postal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Crear nuevo código
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="currentSearch" placeholder="Buscar" aria-label="Buscar" (keyup.enter)="search(buscarCP.value)" #buscarCP>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search(buscarCP.value)">Buscar</button>
    </div>
    <div class="table-responsive" *ngIf="codigoPostals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span>Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreCiudad"><span>Nombre Ciudad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provinciaNombreProvincia"><span>Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let codigoPostal of codigoPostals ;trackBy: trackId">
                <td><a [routerLink]="['/codigo-postal', codigoPostal.id, 'view' ]">{{codigoPostal.id}}</a></td>
                <td>{{codigoPostal.codigo}}</td>
                <td>{{codigoPostal.nombreCiudad}}</td>
                <td>
                    <div *ngIf="codigoPostal.provinciaId">
                        <a [routerLink]="['../provincia', codigoPostal.provinciaId , 'view' ]" >{{codigoPostal.provinciaNombreProvincia}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/codigo-postal', codigoPostal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/codigo-postal', codigoPostal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'codigo-postal/'+ codigoPostal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Borrar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="codigoPostals && codigoPostals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
