<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Reseteo de contraseña</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>La clave de reseteo de contraseña se ha perdido.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Elija una nueva contraseña</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Su contraseña no puede resetearse. Recuerde que el reseteo de contraseña sólo es válido por 24 hs.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Se ha reseteado su contraseña.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">inicie sesión</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                ¡Las contraseñas no coinciden!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="Nueva contraseña"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Campo requerido.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                               La contraseña debe tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                               La contraseña no puede contener más de 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmación de nueva contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirme la nueva contraseña"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                Campo requerido.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                               La contraseña debe tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                               La contraseña no puede contener más de 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Resetear contraseña</button>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                </form>
            </div>

        </div>
    </div>
</div>
