<div>
    <h2 id="page-heading">
        <span>Obs Antec Personals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-obs-antec-personal" [routerLink]="['/obs-antec-personal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Obs Antec Personal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="obsAntecPersonals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idEspecialidad"><span>Id Especialidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idMedico"><span>Id Medico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observaciones"><span>Observaciones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span>Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="antecedentesPersonalesId"><span>Antecedentes Personales</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obsAntecPersonal of obsAntecPersonals ;trackBy: trackId">
                <td><a [routerLink]="['/obs-antec-personal', obsAntecPersonal.id, 'view' ]">{{obsAntecPersonal.id}}</a></td>
                <td>{{obsAntecPersonal.idEspecialidad}}</td>
                <td>{{obsAntecPersonal.idMedico}}</td>
                <td>{{obsAntecPersonal.observaciones}}</td>
                <td>{{obsAntecPersonal.fecha | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="obsAntecPersonal.antecedentesPersonalesId">
                        <a [routerLink]="['../antecedentes-personales', obsAntecPersonal.antecedentesPersonalesId , 'view' ]" >{{obsAntecPersonal.antecedentesPersonalesId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/obs-antec-personal', obsAntecPersonal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/obs-antec-personal', obsAntecPersonal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'obs-antec-personal/'+ obsAntecPersonal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="obsAntecPersonals && obsAntecPersonals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
