<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="detalleHorarios">
            <h2><span jhiTranslate="cpsjApp.detalleHorarios.detail.title">Detalle Horarios</span> {{detalleHorarios.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.idHorario">Id Horario</span></dt>
                <dd>
                    <span>{{detalleHorarios.idHorario}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.horaDesde">Hora Desde</span></dt>
                <dd>
                    <span>{{detalleHorarios.horaDesde}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.horaHasta">Hora Hasta</span></dt>
                <dd>
                    <span>{{detalleHorarios.horaHasta}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.lunes">Lunes</span></dt>
                <dd>
                    <span>{{detalleHorarios.lunes}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.martes">Martes</span></dt>
                <dd>
                    <span>{{detalleHorarios.martes}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.miercoles">Miercoles</span></dt>
                <dd>
                    <span>{{detalleHorarios.miercoles}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.jueves">Jueves</span></dt>
                <dd>
                    <span>{{detalleHorarios.jueves}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.viernes">Viernes</span></dt>
                <dd>
                    <span>{{detalleHorarios.viernes}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.sabado">Sabado</span></dt>
                <dd>
                    <span>{{detalleHorarios.sabado}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.domingo">Domingo</span></dt>
                <dd>
                    <span>{{detalleHorarios.domingo}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.intervalo">Intervalo</span></dt>
                <dd>
                    <span>{{detalleHorarios.intervalo}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.frecuencia">Frecuencia</span></dt>
                <dd>
                    <span>{{detalleHorarios.frecuencia}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.detalleHorarios.cantidadPacientes">Cantidad Pacientes</span></dt>
                <dd>
                    <span>{{detalleHorarios.cantidadPacientes}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/detalle-horarios', detalleHorarios.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
