<div class="modal-header">
        <h4 class="modal-title">Detalle horario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
        (click)="clear()">&times;</button>
    </div>
    <form name="editForm" role="form" novalidate (ngSubmit)="guardarDetalle()" #editForm="ngForm">
        <div class="modal-body">
          
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group" [hidden]="!detalleHorarios.id">
                        <label class="d-none" for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control d-none" id="id" name="id"
                            [(ngModel)]="detalleHorarios.id" readonly />
                    </div>
                    
                    <div class="form-group" [hidden]="true">
                        <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.idHorario" for="field_idHorario">Id Horario</label>
                        <input type="number" class="form-control" name="field_idHorario" id="field_idHorario"
                            [(ngModel)]="detalleHorarios.idHorario" required/>
                        <div [hidden]="!(editForm.controls.idHorario?.dirty && editForm.controls.idHorario?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.idHorario?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.idHorario?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
               <div class="row">    
    
                        <div class="form-group d-inline col-2">                                       
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.horaDesde" for="field_horaDesde">Hora Desde</label>
                            <p-inputMask size="5" [pattern]="'^([01]?[0-9]|2[0-3]):[0-5][0-9]+$'" id="field_horaDesde" name="field_horaDesde" [(ngModel)]="detalleHorarios.horaDesde" mask="99:99" [required]="true"></p-inputMask>
                            <div [hidden]="!(editForm.controls.horaDesde?.dirty && editForm.controls.horaDesde?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.horaDesde?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group d-inline col-2">
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.horaHasta" for="field_horaHasta">Hora Hasta</label>
                            <p-inputMask size="5" [pattern]="'^([01]?[0-9]|2[0-3]):[0-5][0-9]+$'" id="field_horaHasta" name="field_horaHasta" [(ngModel)]="detalleHorarios.horaHasta" mask="99:99" [required]="true"></p-inputMask>
                            <div [hidden]="!(editForm.controls.horaHasta?.dirty && editForm.controls.horaHasta?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.horaHasta?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
               </div>
    <div class="row">
                        <div class="form-group d-inline col-1">
                            <p-checkbox #chkEnable name="field_lunes" [(ngModel)]="detalleHorarios.lunes" binary="true" ></p-checkbox>
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.lunes" for="field_lunes">Lunes</label>
                        </div>
                        <div class="form-group d-inline col-1">
                            <p-checkbox #chkEnable name="field_martes" [(ngModel)]="detalleHorarios.martes" binary="true" ></p-checkbox>
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.martes" for="field_martes">Martes</label>
                        </div>
                        <div class="form-group d-inline col-1">
                            <p-checkbox #chkEnable name="field_miercoles" [(ngModel)]="detalleHorarios.miercoles" binary="true" ></p-checkbox>
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.miercoles" for="field_miercoles">Miercoles</label>
                        </div>
                        <div class="form-group d-inline col-1">
                            <p-checkbox #chkEnable name="field_jueves" [(ngModel)]="detalleHorarios.jueves" binary="true" ></p-checkbox>
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.jueves" for="field_jueves">Jueves</label>
                        </div>
                        <div class="form-group d-inline col-1">
                            <p-checkbox #chkEnable name="field_viernes" [(ngModel)]="detalleHorarios.viernes" binary="true" ></p-checkbox>
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.viernes" for="field_viernes">Viernes</label>
                        </div>
                        <div class="form-group d-inline col-1">
                            <p-checkbox #chkEnable name="field_sabado" [(ngModel)]="detalleHorarios.sabado" binary="true" ></p-checkbox>
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.sabado" for="field_sabado">Sabado</label>
                        </div>
                        <div class="form-group d-inline col-1">
                            <p-checkbox #chkEnable name="field_domingo" [(ngModel)]="detalleHorarios.domingo" binary="true" ></p-checkbox>
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.domingo" for="field_domingo">Domingo</label>
                        </div>
        </div> 
    <div class="row">
                        <div class="form-group d-inline col-3">
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.intervalo" for="field_intervalo">Intervalo</label>
                            <input type="number" class="form-control" name="intervalo" id="field_intervalo"
                                [(ngModel)]="detalleHorarios.intervalo" required/>
                            <div [hidden]="!(editForm.controls.intervalo?.dirty && editForm.controls.intervalo?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.intervalo?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.intervalo?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group d-inline col-3">
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.frecuencia" for="field_frecuencia">Frecuencia</label>
                            <!--<input type="number" class="form-control" name="frecuencia" id="field_frecuencia"
                                [(ngModel)]="detalleHorarios.frecuencia" required/>-->
                                <select
                            class="form-control"
                            id="field_frecuencia"
                            name="frecuencia"
                            [(ngModel)]="detalleHorarios.frecuencia">
                            <option [ngValue]="7">7</option>
                            <option [ngValue]="15">15</option>
                        </select>
                            <div [hidden]="!(editForm.controls.frecuencia?.dirty && editForm.controls.frecuencia?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.frecuencia?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.frecuencia?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group d-inline col-3">
                            <label class="form-control-label" jhiTranslate="cpsjApp.detalleHorarios.cantidadPacientes" for="field_cantidadPacientes">Cantidad Pacientes</label>
                            <input type="number" class="form-control" name="cantidadPacientes" id="field_cantidadPacientes"
                                [(ngModel)]="detalleHorarios.cantidadPacientes" required min="1" jhiMin="1"/>
                            <div [hidden]="!(editForm.controls.cantidadPacientes?.dirty && editForm.controls.cantidadPacientes?.invalid)">
                                <small class="form-text text-danger"
                                [hidden]="!editForm.controls.cantidadPacientes?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.cantidadPacientes?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                                    This field should be at least 1.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.cantidadPacientes?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
            </button>
        </div>
    </form>