<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="especialidad">
            <h2><span>Especialidad</span> {{especialidad.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Codigo Especilidad</span></dt>
                <dd>
                    <span>{{especialidad.codigoEspecilidad}}</span>
                </dd>
                <dt><span>Nombre Especialidad</span></dt>
                <dd>
                    <span>{{especialidad.nombreEspecialidad}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/especialidad', especialidad.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
