<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestWebApp.gruposcie10.home.title">Gruposcie 10 S</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gruposcie10" [routerLink]="['/gruposcie10/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestWebApp.gruposcie10.home.createLabel">
            Create a new Gruposcie 10
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gruposcie10s?.length === 0">
        <span jhiTranslate="gestWebApp.gruposcie10.home.notFound">No gruposcie10s found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gruposcie10s && gruposcie10s.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clave"><span jhiTranslate="gestWebApp.gruposcie10.clave">Clave</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="gestWebApp.gruposcie10.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gruposcie10 of gruposcie10s ;trackBy: trackId">
                    <td><a [routerLink]="['/gruposcie10', gruposcie10.id, 'view']">{{ gruposcie10.id }}</a></td>
                    <td>{{ gruposcie10.clave }}</td>
                    <td>{{ gruposcie10.descripcion }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/gruposcie10', gruposcie10.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/gruposcie10', gruposcie10.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gruposcie10)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="gruposcie10s && gruposcie10s.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
