<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bloqueos-heading" >Bloqueo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bloqueos.id">
                    <label for="id" >ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bloqueos.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_nombreBloqueo">Nombre Bloqueo</label>
                    <input type="text" class="form-control" name="nombreBloqueo" id="field_nombreBloqueo"
                        [(ngModel)]="bloqueos.nombreBloqueo" required/>
                    <div [hidden]="!(editForm.controls.nombreBloqueo?.dirty && editForm.controls.nombreBloqueo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombreBloqueo?.errors?.required" >
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_fechaDesde">Fecha Desde</label>
                    <div class="input-group">
                        <input id="field_fechaDesde" type="text" class="form-control" name="fechaDesde" ngbDatepicker  #fechaDesdeDp="ngbDatepicker" [(ngModel)]="bloqueos.fechaDesde"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDesdeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fechaDesde?.dirty && editForm.controls.fechaDesde?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaDesde?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaHasta">Fecha Hasta</label>
                    <div class="input-group">
                        <input id="field_fechaHasta" type="text" class="form-control" name="fechaHasta" ngbDatepicker  #fechaHastaDp="ngbDatepicker" [(ngModel)]="bloqueos.fechaHasta"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaHastaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fechaHasta?.dirty && editForm.controls.fechaHasta?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaHasta?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.bloqueos.horaDesde" for="field_horaDesde">Hora Desde</label>
                    <div class="d-flex">
                        <input id="field_horaDesde" type="datetime-local" class="form-control" name="horaDesde" [(ngModel)]="horaDesde"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="consultoriosPrivadosSanJustoApp.bloqueos.horaHasta" for="field_horaHasta">Hora Hasta</label>
                    <div class="d-flex">
                        <input id="field_horaHasta" type="datetime-local" class="form-control" name="horaHasta" [(ngModel)]="horaHasta"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
