<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-horarios-profesional-heading">Horarios</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--div class="form-group" [hidden]="!horariosProfesional.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="horariosProfesional.id"
                        readonly />
                </div-->
                <label class="form-control-label" for="field_horario_prof_rel">Profesional</label>
                <div class="form-group">
                        <!--select class="form-control" id="field_horario_prof_rel" name="horario_prof_rel" [(ngModel)]="horariosProfesional.horario_prof_relId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="profesionalOption.id" *ngFor="let profesionalOption of profesionals; trackBy: trackProfesionalById">{{
                                profesionalOption.nombreProfesional }}</option>
                        </select-->
                        <p-autoComplete [disabled] = "horariosProfesional.id" id="horario_prof_rel" name="horario_prof_rel" [(ngModel)]="profesional" [suggestions]="filteredProfesionalSingle" (completeMethod)="filterProfesionalSingle($event)" inputStyleClass="form-control; padding-left: initial;" dataKey="profesional.Id"  field="nombreProfesional"  (onSelect)="seleccionProfesional($event)" (onUnselect)="borrarProfesional()" (onClear)="borrarProfesional()"  [size]="50" placeholder="Profesional" forceSelection = "true" inputId="profesional.Id" required [dropdown]="true"></p-autoComplete>
                    </div>
                <div class="form-group">
                    <label class="form-control-label " for="field_horario_esp_rel"><h5>Especialidad</h5></label>
                    <select class="form-control" [disabled]="!profesional || horariosProfesional.id" id="field_horario_esp_rel " name="field_horario_esp_rel" [(ngModel)]="horariosProfesional.horario_esp_relId" required >
                        <option [ngValue]="especialidadOption.id " *ngFor="let especialidadOption of especialidades; trackBy: trackEspecialidadById ">{{especialidadOption.nombreEspecialidad}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_consultorio">Consultorio</label>
                    <input type="text" class="form-control" name="consultorio" id="field_consultorio" [(ngModel)]="horariosProfesional.consultorio" />
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" for="field_fechaDesde">Fecha Desde</label>
                            <div >                        
                                <p-calendar id="field_fechaDesde" name="field_fechaDesde" [(ngModel)]="dateD" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true" required yearRange="2010:2030"></p-calendar>
                            </div>
                            <!--div class="input-group">
                                <input id="field_fechaDesde" type="text" class="form-control" name="fechaDesde" ngbDatepicker
                                    #fechaDesdeDp="ngbDatepicker" [(ngModel)]="horariosProfesional.fechaDesde" required />
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="fechaDesdeDp.toggle()">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                                </span>
                            </div>
                            <div [hidden]="!(editForm.controls.fechaDesde?.dirty && editForm.controls.fechaDesde?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.fechaDesde?.errors?.required">
                                    Campo Requerido.
                                </small>
                            </div-->
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="form-control-label" for="field_fechaHasta">Fecha Hasta</label>
                            <!--div class="input-group">
                                <input id="field_fechaHasta" type="text" class="form-control" name="fechaHasta" ngbDatepicker
                                    #fechaHastaDp="ngbDatepicker" [(ngModel)]="horariosProfesional.fechaHasta" />
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="fechaHastaDp.toggle()">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                                </span>
                            </div-->
                            <div >                        
                                <p-calendar id="field_fechaHasta" name="field_fechaHasta" [(ngModel)]="dateH" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>                
                
                <div class="form-group" [hidden]="!horariosProfesional.id">
                    <button type="button" class="btn btn-danger" (click)="agregarDetalle()">Crear rango</button>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="d-none">Id</th>
                                <th class="d-none">IdHorario</th>
                                <th scope="col">Desde</th>
                                <th scope="col">Hasta</th>
                                <th scope="col">Días</th>
                                <th scope="col">Intervalo</th>
                                <th scope="col">Frecuencia(días)</th>
                                <th scope="col">Cantidad de pacientes</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let detalle of detalles">
                                        <td class="d-none">{{detalle.id}}</td>
                                        <td class="d-none">{{detalle.idHorario}}</td>
                                        <td>{{detalle.horaDesde}}</td>
                                        <td>{{detalle.horaHasta}}</td>
                                        <td>{{detalle.lunes + " - " + detalle.martes}}</td>
                                        <td>{{detalle.intervalo}}</td>
                                        <td>{{detalle.frecuencia}}</td>
                                        <td>{{detalle.cantidadPacientes}}</td>
                                        <td><!--button class="btn btn-danger" type="button"  (click)="borrarDetalle(detalle)"> Borrar </button-->
                                          <button class="btn btn-danger" type="button" (click)="modificarDetalle(detalle)" style="margin-left: 20px;"> Modificar </button></td>
                                      </tr>

                        </tbody>
                    </table>

                </div>
               
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Volver</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>