<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="empresa">
            <h2><span>Empresa</span> {{empresa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre Empresa</span></dt>
                <dd>
                    <span>{{empresa.nombreEmpresa}}</span>
                </dd>
                <dt><span>Direccion Empresa</span></dt>
                <dd>
                    <span>{{empresa.direccionEmpresa}}</span>
                </dd>
                <dt><span>Telefono Empresa</span></dt>
                <dd>
                    <span>{{empresa.telefonoEmpresa}}</span>
                </dd>
                <dt><span>Email Empresa</span></dt>
                <dd>
                    <span>{{empresa.emailEmpresa}}</span>
                </dd>
                <dt><span>Nro Sucursal</span></dt>
                <dd>
                    <span>{{empresa.nroSucursal}}</span>
                </dd>
                <dt><span>Codigo Postal</span></dt>
                <dd>
                    <div *ngIf="empresa.codigoPostalId">
                        <a [routerLink]="['/codigo-postal', empresa.codigoPostalId, 'view']">{{empresa.codigoPostalNombreCiudad}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/empresa', empresa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
