<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon [icon]="'bars'"></fa-icon>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span class="navbar-title" jhiTranslate="global.title">Nombre Empresa</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
        [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon [icon]="'home'"></fa-icon>
                        <span>Inicio</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a *jhiHasAnyAuthority="'ROLE_PACIENTE'" class="nav-link dropdown-toggle" ngbDropdownToggle
                    href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon [icon]="'th-list'"></fa-icon>
                        <span>
                            TURNOS
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="/turno-online/new" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Turnos</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a *jhiHasAnyAuthority="'ROLE_USER'" class="nav-link dropdown-toggle" ngbDropdownToggle
                    href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon [icon]="'th-list'"></fa-icon>
                        <span>
                            Secciones
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="profesional" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Profesional</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="especialidad" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Especialidad</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="paciente" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Paciente</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="obra-social" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Obra Social</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bloqueos" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Feriados y días no laborales</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="horarios-profesional" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Horarios Profesional</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="turno" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Turnos</span>
                        </a>
                    </li>

                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <!-- Secciones sólo para administrador -->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span>Secciones Administrador</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="gruposcie10" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.gruposcie10">Grupos CIE 10</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="subgruposcie10" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.subgruposcie10">Subgrupos CIE 10</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="categoriascie10" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.categoriascie10">Categorias CIE 10</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="diagnosticoscie10" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.diagnosticoscie10">Diagnosticos CIE 10</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="agrupador-os" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.entities.agrupadorOs">Agrupador</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="codigo-postal" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Codigo Postal</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="provincia" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Provincia</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="obra-social" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Obra Social</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estados" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Estados</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bloqueos" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Feriados y días no laborales</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="titulo-short" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Titulo Short</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="enfermedad" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Enfermedad</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="alergia" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Alergia</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="intolerancia" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Intolerancia</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="regimen" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Regimen</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="bebida" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Bebida</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="ejercicio" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Ejercicio</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="antecedentes-personales" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Antecedentes Personales</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="antecedentes-familiares" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Antecedentes Familiares</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="constantes" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Constantes</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="consulta" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Consulta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="empresa" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Empresa</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="obs-antec-familiar" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Obs Antec Familiar</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="obs-antec-personal" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Obs Antec Personal</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="diagnostico" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Diagnostico</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="familiar" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Familiar</span>
                        </a>
                    </li>
                    <!--li>
                        <a
                            class="dropdown-item"
                            routerLink="adjuntos-ficha"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <span>Adjuntos Ficha</span>
                        </a>
                    </li-->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon [icon]="'user-plus'"></fa-icon>
                        <span>Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                            <span>User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'tachometer-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'heart'" [fixedWidth]="true"></fa-icon>
                            <span>Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'bell'" [fixedWidth]="true"></fa-icon>
                            <span>Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'tasks'" [fixedWidth]="true"></fa-icon>
                            <span>Logs</span>
                        </a>
                    </li>
                    <!-- *ngIf="swaggerEnabled" -->
                    <li [style.display]="swaggerEnabled ? 'true': 'false'">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'book'" [fixedWidth]="true"></fa-icon>
                            <span>API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <!--*ngIf="!getImageUrl()" [style.display]="getImageUrl() ? 'true': 'false'"-->
                    <span *ngIf="!getImageUrl()">
                        <fa-icon [icon]="'user'"></fa-icon>
                        <span>
                            Cuenta
                        </span>
                    </span>
                    <!--  [style.display]="getImageUrl() ? 'false': 'true'"-->
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar" />
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                            <span>Ajustes</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                            <span>Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Salir</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Iniciar Sesión</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                            <span>Registrarse</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>