<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-consulta-heading">Consulta - {{paciente.apellidoPaciente + ", " + paciente.nombrePaciente}}</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaConsulta">Fecha</label>
                    <div class="input-group">
                        <span>{{consulta.fechaConsulta | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-control-label" for="field_sintomasConsulta">Síntomas</label>
                        <textarea class="form-control" rows="5" name="sintomasConsulta"
                            id="field_sintomasConsulta" [(ngModel)]="consulta.sintomasConsulta"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="form-control-label" for="field_diagnosticoConsulta">Diagnóstico</label>
                        <textarea class="form-control" rows="5" name="diagnosticoConsulta"
                            id="field_diagnosticoConsulta" [(ngModel)]="consulta.diagnosticoConsulta"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_observacionesConsulta">Observaciones</label>
                    <textarea class="form-control" rows="5" name="observacionesConsulta"
                        id="field_observacionesConsulta" [(ngModel)]="consulta.observacionesConsulta"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tratamientoConsulta">Medicamentos</label>
                    <textarea class="form-control" rows="5" name="tratamientoConsulta"
                        id="field_tratamientoConsulta" [(ngModel)]="consulta.tratamientoConsulta"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_indicacionesConsulta">Indicaciones</label>
                    <textarea class="form-control" rows="5" name="indicacionesConsulta"
                        id="field_indicacionesConsulta" [(ngModel)]="consulta.indicacionesConsulta"></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()"
                    jhiTranslate="entity.action.cancel">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary" jhiTranslate="entity.action.save">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>