/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    /*background: #e4e5e6;*/
    background-image: url('../../content/images/Frente.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    /*min-height: 700px;*/
    /*height: calc(100vh - 32px);*/
    /*height: 100%;
        margin: 0;*/
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    /*Agregado*/
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    left: 0px;
    background-color: #1e6894cf !important;
    /* Height of the footer */
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: calc(100% + 1px);
}

body {
    font: 100% 'Arimo', sans-serif;
}

.filter-wrapper,
.keyword-wrapper {
    display: flex;
    justify-content: center;
}

.filter-wrapper {
    min-height: 100%;
    flex-flow: column wrap;
    position: relative;
}

.keyword-wrapper {
    width: 100%;
    position: relative;
}

#keyword {
    border: 1px solid #ccc;
    padding: 10px;
    font: 1.5em 'Arimo', sans-serif;
    width: 50%;
    outline: none;
    transition: border 0.5s ease-in-out;
}

#keyword:focus {
    border-color: rgba(81, 203, 238, 1);
}

#keyword-button {
    position: absolute;
    right: 26%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7em;
    color: #8db9ed;
}

#keyword-button:hover {
    color: #ccc;
}

.filter-select {
    width: 50%;
    list-style: none;
    font-size: 1.1em;
    color: rgb(105, 105, 105);
    border: 1px solid #ccc;
    border-top: none;
    /*so things don't jump around*/
    position: absolute;
    left: 25%;
    top: calc(50% + 25px);
    max-height: calc(50% - 15px);
    overflow-y: auto;
    background: #fff;
}

.filter-select-list img {
    margin-right: 30px;
}

.tags {
    font-size: 12px;
    font-style: italic;
    color: #c6c6c6;
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.filter-select-list:hover .tags {
    color: #fff;
}

.filter-select-list {
    cursor: pointer;
    padding: 5px 10px;
}

.paciente_name {
    display: inline-block;
    position: absolute;
}

.filter-select-list:hover {
    background: #c0c0c0;
    color: #fff;
}

.list-highlight,
.list-highlight:hover {
    background: rgb(55, 55, 55);
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .filter-select,
    #keyword {
        width: 80%;
    }
    #keyword {
        font-size: 1.3em;
    }
    .filter-select {
        font-size: 0.9em;
        left: 10%;
        top: calc(50% + 23px);
    }
    #keyword-button {
        right: 11%;
    }
}

@media only screen and (max-width: 480px) {
    .filter-select,
    #keyword {
        width: 95%;
    }
    .filter-select {
        left: 2.5%;
    }
    #keyword-button {
        right: 3.5%;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

/* Agregados Octubre 2018 */
.text-footer {
    color: white;
}

.completa {
    position: absolute;
    bottom: 5%;
    left: 35%;
}

/* Para pantalla de turnos */
.ui-orderlist-list-container {
    width: 100% !important;
}
.ui-orderlist-controls {
    display: none !important;
}
.ui-chkbox.ui-widget.ng-star-inserted {
    display: none !important;
}
/* .container-fluid {
        position: fixed;
    }*/
img {
    width: 100vw;
    height: calc(100vh - 55px);
}

/* Cambios realizados el 21-06 */

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
}
@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 4em;
    }
}

/* fin cambios*/
