<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestWebApp.subgruposcie10.home.title">Subgrupos cie 10</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subgruposcie10" [routerLink]="['/subgruposcie10/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gestWebApp.subgruposcie10.home.createLabel">
            Create a new Subgrupo cie 10
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subgruposcie10s?.length === 0">
        <span jhiTranslate="gestWebApp.subgruposcie10.home.notFound">No subgruposcie10 found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subgruposcie10s && subgruposcie10s.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clave"><span jhiTranslate="gestWebApp.subgruposcie10.clave">Clave</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="gestWebApp.subgruposcie10.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idGrupo"><span jhiTranslate="gestWebApp.subgruposcie10.idGrupo">Id Grupo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rel_grupo_subgrupo_cie10.descripcion"><span jhiTranslate="gestWebApp.subgruposcie10.rel_grupo_subgrupo_cie10">Descripción Grupo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subgruposcie10 of subgruposcie10s ;trackBy: trackId">
                    <td><a [routerLink]="['/subgruposcie10', subgruposcie10.id, 'view']">{{ subgruposcie10.id }}</a></td>
                    <td>{{ subgruposcie10.clave }}</td>
                    <td>{{ subgruposcie10.descripcion }}</td>
                    <td>{{ subgruposcie10.idGrupo }}</td>
                    <td>{{subgruposcie10.rel_grupo_subgrupo_cie10}}
                        <!-- <div *ngIf="subgruposcie10.rel_grupo_subgrupo_cie10">
                            <a [routerLink]="['/gruposcie10', subgruposcie10.rel_grupo_subgrupo_cie10?.id, 'view']" >{{ subgruposcie10.rel_grupo_subgrupo_cie10?.descripcion }}</a>
                        </div> -->
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subgruposcie10', subgruposcie10.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/subgruposcie10', subgruposcie10.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subgruposcie10)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="subgruposcie10s && subgruposcie10s.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
