<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Resetee su contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>¡Su email no está registrado!</strong> Por favor verifica e intente nuevamente.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingrese el email con el que se registró.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Verifique en su correo los detalles sobre cómo resetear su contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=254 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Campor requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Campo requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            El email no puede contener menos de 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                           El email no puede contener más de 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Resetear</button>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
            </form>
        </div>
    </div>
</div>
