<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ficha-heading">Ficha {{ficha.pacienteApellidoPaciente.concat(", ").concat(ficha.pacienteNombrePaciente)}}</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ficha.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="ficha.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaIngreso">Fecha Ingreso</label>
                    <div class="input-group">
                        <div class="row">
                            <div class="col-md" style="display: inline-flex;">
                                <input id="field_fechaIngreso" type="text" class="form-control" name="fechaIngreso" ngbDatepicker #fechaIngresoDp="ngbDatepicker" [(ngModel)]="ficha.fechaIngreso" />
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    
                    <label class="form-control-label" for="field_paciente"><h5>Paciente</h5></label>
                    <div class="row">
                        <div class="col-sm-3">
                            <!--button type="button" id="nuevo_paciente" class="btn btn-secondary" [routerLink]="['/paciente/new']">
                                <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>Nuevo Paciente</span>
                            </button-->
                            <button type="button" (click)="openFormModal()">Nuevo Paciente</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">   
                    
                        <p-autoComplete inputStyleClass="form-control" dataKey="paciente.Id" field="nombrePaciente" id="field_paciente" name="field_paciente" [(ngModel)]="paciente" [suggestions]="filteredPacienteSingle" (completeMethod)="filterPacienteSingle($event)" (onSelect)="seleccionPaciente($event)" (onUnselect)="borrarPaciente()" (onClear)="borrarPaciente()"  [size]="50" placeholder="Buscar Paciente" [minLength]="1" forceSelection = "true" inputId="paciente.Id" required></p-autoComplete>
                            
                    </div>

                    
                <hr>
                <div class="form-group ">
                    <label class="form-control-label " for="field_especialidad "><h5>Especialidad</h5></label>
                    <div class="row">
                        <div class="col-sm-12">
                            <p-autoComplete inputStyleClass="form-control; padding-left: initial;" dataKey="especialidad.Id" field="nombreEspecialidad" id="field_especialidad" name="field_especialidad" [(ngModel)]="especialidad" [suggestions]="filteredEspecialidadSingle" (completeMethod)="filterEspecialidadSingle($event)" (onSelect)="seleccionEspecialidad($event)" (onUnselect)="borrarEspecialidad()" (onClear)="borrarEspecialidad()"  [size]="50" placeholder="Buscar Especialidad" [minLength]="3" forceSelection = "true" inputId="especialidad.Id" required  [dropdown]="true"></p-autoComplete>
                        </div>
                    </div>
                </div>
                   
                    <div class="form-group" *ngIf="especialidad">
                        <label class="form-control-label " for="field_profesional"><h5>Profesional</h5></label>
                        <select class="form-control " id="field_profesional " name="field_profesional" [(ngModel)]="ficha.profesionalId ">
                            <option [ngValue]="profesionalOption.id " *ngFor="let profesionalOption of profesionales; trackBy: trackProfesionalById ">{{profesionalOption.nombreProfesional}}</option>
                        </select>
                    </div>
            </div>

            <div>
                <button type="button " id="cancel-save " class="btn btn-secondary " (click)="previousState() ">
                    <fa-icon [icon]=" 'ban' "></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit " id="save-entity " [disabled]="editForm.form.invalid || isSaving " class="btn btn-primary ">
                    <fa-icon [icon]=" 'save' "></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>