<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ficha">
            <div *ngIf="ficha.pacienteId">
                <a [routerLink]="['/paciente', ficha.pacienteId, 'view']">
                    <h3> {{ficha.pacienteApellidoPaciente.concat(", ").concat(ficha.pacienteNombrePaciente).concat(" - ").concat(ficha.especialidadNombreEspecialidad)}}</h3>
                </a>
            </div>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Fecha Ingreso</span></dt>
                <dd>
                    <span>{{ficha.fechaIngreso | date: 'dd/MM/yyyy'}}</span>
                </dd>                
                <dt><span>Especialidad</span></dt>
                <dd>
                    <div *ngIf="ficha.especialidadId">
                        <a [routerLink]="['/especialidad', ficha.especialidadId, 'view']">{{ficha.especialidadNombreEspecialidad}}</a>
                    </div>
                </dd>
                <dt><span>Profesional</span></dt>
                <dd>
                    <div *ngIf="ficha.profesionalId">
                        <a [routerLink]="['/profesional', ficha.profesionalId, 'view']">{{ficha.profesionalNombreProfesional}}</a>
                    </div>
                </dd>
                <!-- Línea de tiempo de atenciones (de la más reciente a la primera)-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h5>Consultas</h5>
                        </div>
                        <div style="display:inline-block;width:100%;overflow-y:auto;">
                            <ul class="timeline timeline-horizontal">
                                <!-- Items de la línea de tiempo -->
                                <li  *ngFor="let consu of listaConsultas" class="timeline-item">
                                    <div class="timeline-badge primary"><a class="btn-floating btn-lg btn-tw" type="button" role="button" (click)="openFormModal(consu)"><i class="glyphicon glyphicon-check"></i></a></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <!--h4 class="timeline-title">{{consu.sintomasConsulta}}</h4-->
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{consu.fechaConsulta | date:'dd/MM/yyyy'}}</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Síntomas:    {{consu.sintomasConsulta | slice:0:20}} ...</p>
                                            <p>Diagnóstico: {{consu.diagnosticoConsulta | slice:0:30}} ...</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </dl>



<!-- Subir archivos primeng -->
            <p-toast [style]="{marginTop: '80px'}"></p-toast>
            <h5 class="first">Adjuntar Archivos a la ficha: </h5>

            <p-fileUpload #form name="demo[]" customUpload="true" (uploadHandler)="onUploadEnd($event, form)"
                multiple="multiple" maxFileSize="5000000" chooseLabel="Seleccionar" accept="image/*"
                uploadLabel="Adjuntar" cancelLabel="Cancelar">
                <ng-template pTemplate="toolbar">
                    <div *ngIf="hayArchivosParaSubir" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width:progress.percentage+'%'}">
                            {{progress.percentage}}%</div>
                    </div>
                </ng-template>
                <ng-template let-file pTemplate="file">
                    <div class="ui-fileupload-row">
                        <div class="d-inline">{{file.name}}</div>
                        <div>{{getSizeInMegaBytes(file) | number:'1.2-2'}} MB</div>
                        <div class="d-inline">
                            <button class="btn btn-danger" type="button" label="Remove"
                                (click)="removeFile(file, form)">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-fileUpload>
            <hr>
            <!-- Subir archivos -->
            <div>
                <button class="btn btn-info" *ngIf='showFile' (click)='showFiles(false)'>Ocultar lista archivos</button>
                <button class="btn btn-danger" *ngIf='!showFile' (click)='showFiles(true)'>Mostrar lista
                    archivos</button>
                <div [hidden]="!showFile">
                    <div class="list-group border border-primary">
                        <div *ngFor="let file of fileUploads">
                            <div class="panel-body">
                                <button type="button" (click)="descargarArchivo(file[0])"
                                    class="btn btn-link">{{file[1]}}</button>
                                <!--a target="_blank" [routerLink]="" (click)="descargarArchivo(file)" class="btn btn-link">{{file}}</a-->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <!-- Fin subir archivos -->
            <!-- Fin subir archivos primeng-->
            <div>
                <button type="submit" (click)="previousState()" class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Atrás</span>
                </button>

                <button type="button" [routerLink]="['/ficha', ficha.id, 'edit']" class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
                </button>
            </div>
        </div>
    </div>
</div>